*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}


header{
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li{
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #000;
}
.nav , 
.shopping-card {
  display: none;
}
.nav i {
  font-size: 30px;
}

.shoping-card i{
  font-size: 30px;
}
/* hero section */
#hero {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;                   
}     
#hero .hero-title {
  margin: auto;
  margin-bottom: 50px;
}
.hero-title h2{
  font-size:52px ;
  margin-bottom: 16px;
}
#hero .hero-title p{
  color: #a3a3a3;
  font-weight: 600px;
  margin-bottom: 30px;
}
#hero .hero-btn{
  background-color: #e02c6d;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
  cursor: pointer;
}
.hero-img {
  width: 50%;
  padding: 30px;
}
#hero .hero-img img{
  width: 100%;
}

#hero .hero-img{
  background-image: url(./images/Circle\ design.svg);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;

}

/* brand section */

#brand-logo {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px ;
  border-top: 2px solid #d1d1d129;
  border-bottom: 2px solid #d1d1d129;
}

/* popular Collection */

#collection{
  max-width: 1200px;
  margin: 100px auto;
  padding: 30px;
  position: relative;
}
#collection h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 47px;
}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: space-around;
}

.collection-container .card{
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px #00000020;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.card:hover{
  border: 1px solid #FB8200;
  box-shadow: 0 0 10px #FB820070;
  transform: scale(1.03);
  transition: .5s;
}
.card .card-img img{
  width: 100%;
}
.card-content h3{
  font-size: 28px;
  font-weight: 200px;
}
.card-content .price{
  font-size: 24px;
}
.card-content p{
  color: #757575;
}
.card .star{
  color: #FB8200;
}
.see-more{
  position: absolute;
  right: 0px;
  padding: 10px 15px;
  color: #FB8200;
  cursor: pointer;
  margin: 20px;
  border-radius: 10px;
}
.see-more:hover{
  background-color: #e4e3e3;
}

/* one place section */
#one-place{
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  gap: 96px;
  justify-content: space-between;
  align-items: center;

}

.place-content h3{
  font-size: 38px;
  margin-bottom: 16px;
}
.place-content p{
  color: #6c6c6c;
  line-height: 28px;
  margin-bottom: 16px;
}
.place-btn{
  background-color: #e02c6d;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}
.place-btn:hover{
  background-color: #b62258;}

  footer{
    background-color: #0a0826;
    color: #ffffff;
    padding: 50px;
    text-align: center;
  }
  .footer-container p{
    color: #D9DBE1;
    margin: 10px;
    line-height: 28px;
  }
  .socal{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .socal i{
    padding: 10px;
    background-color: #0f0c40;
    border-radius: 50%;
  }
.none {
  display: none;
}









  /* Responsive design */


  /* for Laptop screen (1080px to 769px) */
  @media screen and (max-width:1080px){
    #hero {
      flex-direction: column;
      text-align: center;
    }
    #hero .hero-title {
      width: 90%;
      margin: auto;
    }
    .hero-img{
      width: 90%;
      margin: auto;
    }
    #hero .hero-img img{
    width: 50%;
    }
    #brand-logo {
      border: none;
    }
    #one-place {
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
  }

/* for Tablet screen (768px to 457px) */
  @media screen and (max-width:768px) {
    nav {
      display: none;
    }
    .nav {
      display: inline;
    }
    .shopping-card {
      display: inline;
    }
    .logo h1 {
      font-size: 30px;
    }
    #hero .hero-img img {
  width: 100%;
    }
  .hero-title h2 {
      font-size: 30px;
    }
    #hero {
      overflow: hidden;
    }
    .collection-container{
  grid-template-columns: repeat(2, 1fr);
    }
    .place-img img{
      width: 80%;
    }
}
  
/* for Mobile screen (546px to 360px) */
  @media screen and (max-width:456px) {
    .logo h1 {
      font-size: 20px;
    }
    .nav i, 
    .shopping-card i{
      font-size: 20px;
    }
    .hero-title h2 {
      font-size: 30px;
    }
    .collection-container{
  grid-template-columns: repeat(1, 1fr);
    }
    .footer-container h2{
      font-size: 20px;
    }
    .footer-container p{
      font-size: 12px;
    }
  
  }