*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header{
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li{
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #000;
}

/* hero section */
#hero {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

#hero .hero-title h2{
  font-size:52px ;
  margin-bottom: 16px;
}
#hero .hero-title p{
  color: #a3a3a3;
  font-weight: 600px;
  margin-bottom: 30px;
}
#hero .hero-btn{
  background-color: #e02c6d;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
}
#hero .hero-img{
  background-image: url(./images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* brand section */

#brand-logo {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
}

/* popular Collection */

#collection{
  max-width: 1200px;
  margin: 100px auto;
  position: relative;
}
#collection h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 47px;
}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: space-around;
}

.collection-container .card{
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px #00000020;
  border-radius: 10px;
}
.card .card-img img{
  width: 100%;
}
.card-content h3{
  font-size: 28px;
  font-weight: 200px;
}
.card-content .price{
  font-size: 24px;
}
.card-content p{
  color: #757575;
}
.card .star{
  color: #FB8200;
}
.see-more{
  position: absolute;
  right: 0px;
  padding: 20px;
  color: #FB8200;
}